
* {
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}



.App-logo {
  height: 16vmin;
  pointer-events: none;
  margin-left: 0px; 
}

.anchors {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


.neonText{
  font-family: 'Pacifico', cursive;
  animation: flicker 1.5s infinite alternate;
  color: red;
  text-align: center;
  font-size: 5.0rem;
}

.neonSize {
 font-size: 9.0rem;
 animation: flicker 5s infite alternative
}

.about-me {
  background-color: #6eaceb; 
}





@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.login-btn{
  background-color: #ce5428; 
  color: #ffffff;
}

.navigation {
  background-color: #4f468a;
  color: #ce5428; 
}

.aboutMe{
  font-family: 'Pacifico', cursive;
  /* animation: flicker 1.5s infinite alternate; */
  color: red;
  text-align: center;
  font-size: 1.9rem;
}

.colorLink {
  
  text-align: center;
}


.link {
font-family: 'Pacifico', cursive;
color: red;
}

.link:hover {
  color: #0fa;
}
/*@import "../node_modules/bootstrap/scss/bootstrap.scss";
*/
:root {
  --red: #ce5428;
  --blue: #6eaceb;
  --green: #6eebac;
  --light: #cefaff;
  --cream: #ffffff;
  --purple: #4f468a;
}

.user-box {
  background-color: var(--green);
  border-radius:0%;
  color: var(--light);
  margin-top: 20px;
  font-size: 28px;
}

.user-image {
  margin: 5%;
}

.user-text {
  padding-left: 250px;
}

.pop {
font-style: italic;
}

.new-line {
   white-space: pre-wrap;
   padding: 15px;
}

.color-box {
  background-color: var(--purple);
  border-radius: 10%;
  color: var(--light);
}

#navbar button {
  background-color: var(--red);
}

#navbar nav {
  background-color: var(--purple);
}

#navbar a{

  color: var(--red);

}

.searchBar {
  margin-right: 10%;
}

.clickable {
  cursor: pointer;
}

.title {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  text-align: center;
  font-weight: bolder;
  color: #ce5428;
  font-size: 35px;
}

.button-color {
  width: 200px;
  height: 25px;
background-color: #ce5428;
color: white;
}

.blueBackground {
  background-color: #6eaceb;
  height: 700px;
}



