.maindisp {
  text-align: center
}

.dataResult {
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  text-align: left
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100px;
  height: 50px;
  color: black;
  font: message-box;
}

.dataResult a:hover {
  background-color: lightgrey;
}

.dataItem a {
  margin-left: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.clickable {
    cursor: pointer;
}

a:hover {
  background-color: grey;
}

.robotGuy {
  height: 250px;
}

@media screen and (max-width: 1200px) {
  .madeupClass {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }  

  .pic {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .madeupClass {
    flex: 100%;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .robotGuy {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .robotGuy {
    height: 130px;
  }
}
