

.App-logo {
  height: 16vmin;
  pointer-events: none;
  margin-left: 0px; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neonText{
  font-family: 'Pacifico', cursive;
  animation: flicker 1.5s infinite alternate;
  color: red;
  text-align: center;
  font-size: 5.0rem;
}

.neonSize {
 font-size: 9.0rem;
 animation: flicker 5s infite alternative
}

.about-me {
  background-color: #6eaceb; 
}

#root {
  background-color: #6eaceb; 
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

.login-btn{
  background-color: #ce5428; 
  color: #ffffff;
}

.navigation {
  background-color: #4f468a;
  color: #ce5428; 
}

.aboutMe{
  font-family: 'Pacifico', cursive;
  /* animation: flicker 1.5s infinite alternate; */
  color: red;
  text-align: center;
  font-size: 1.9rem;
}

.hover {
  --s: 0.1em;   /* the thickness of the line */
  --c: red; /* the color */
  
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.hover:hover {
  --_p: 0%;
}

.h3 {
  background-color: #6eaceb; 
  margin: 0;
  cursor: pointer;
}

